body {
    background:white;
    font-family:sans-serif;
}

a {
    padding-left:0.5em;
    padding-right:0.5em;
}

div {
    background: #dddfe3;
    border:1px solid black;
    margin:0.25em;
    padding:0.75em;
}

div.pre {
    height:2em;
    overflow:scroll;
    background:#ccc;
}

h2 {
    float:right;
    width:auto;
    padding:0.5em;
    border:1px solid blue;
    background:#fff;
}

table {
    width:100%;
    border-collapse:collapse;
    border:1px solid black;
}

thead tr {
    border-bottom:1px solid black;
}

thead th {
    background: #bda6b5;
    border-bottom:1px solid black;
}

tr.row_0 {
    background: #bda6b5;
}

tr.row_1 {
    background: #f4f5f6;
}

form table {
    width:auto;
}

form td {
    padding-left:1em;
}

th {
    text-align:left;
}
