/* <color definitions> */
.color_a {
    background:#f2eb40;
}

.color_b {
    background:#ccc735;
}

.color_c {
    background:#a6a22b;
}

.color_d {
    background:#6b98bf;
}

.color_e {
    background:#e9eef2;
}

h2 {
    background:#e9eef2;
}

body {
    background:#a6a22b;
}

.row_1 {
    background:#6b98bf;
}

.row_0 {
    background:#e9eef2;
}

.section {
    background:#ccc735;
}

/* </color definitions> */

body {
    font-family:sans-serif;
}

a {
    padding-left:0.5em;
    padding-right:0.5em;
}

div {
    border:1px solid black;
    margin:0.25em;
    padding:0.75em;
}

div.pre {
    height:2em;
    overflow:scroll;
    background:#ccc;
}

h2 {
    position:relative;
    padding:0.125em;
    top:0;
    border:1px solid blue;
}

table {
    width:100%;
    border-collapse:collapse;
    border:1px solid black;
}

thead tr {
    border-bottom:1px solid black;
}

thead th {
    border-bottom:1px solid black;
}

tr.row_0 {
}

tr.row_1 {
}

form table {
    padding:0;
    margin:0;
    width:auto;
}

form td {
    padding-left:1em;
}

th {
    text-align:left;
}
